.app-container {
  max-width: '640px';
  margin: auto;
  text-align: center;
}

.app-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app-nav li {
  display: inline;
  margin-right: 10px;
}
